<form asp-action="Create" method="post" role="form">
    <h2>Let's add to your personal data store.</h2>

    <div asp-validation-summary="All" class="text-red-300" />

    <div class="flex flex-col items-center">

    </div>
</form>