@model IEnumerable<Recipe>

@{
    string InputValue = ViewBag.Query ?? "";
    string InitialMessage = ViewBag.Query == null ? "Search for a recipe" : $"Search results for '{ViewBag.Query}'";
}

<div>
    <div id="search-page-header" class="mb-8 border-white border-b">
        <h3 id="query-message">@InitialMessage</h3>
        <input value="@InputValue" class="text-black" id="new-search-query" type="text" />
        <button id="execute-search">Search</button>
    </div>
    <div id="search-results">
        @foreach (var recipe in @Model)
        {
            <p>@recipe.Name</p>
            <p>@recipe.RecipeText</p>
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/searchRecipes.js" type="module" asp-append-version="true"></script>
}
