@{
    ViewData["Title"] = "UNBINDER";
}

<div class="text-center d-flex flex-column align-items-center">
    <h1 class="display-4">UNBINDER</h1>
    <p>Digitize your unruly home information stores</p>
    <p>Become <span>u&nbsp;n&nbsp;b&nbsp;o&nbsp;u&nbsp;n&nbsp;d</span></p>
</div>
