<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <script type="text/javascript">var exports = {};</script>
        <script src="~/js/site.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="~/lib/pdf.js/pdf.min.mjs"></script>
        <link href="~/css/site.css" rel="stylesheet" />
        <base href="/" />
    </head>
    <body class="bg-black text-white">
        <partial name="_Navbar" />
        <main>
            @RenderBody()
        </main>
        <partial name="_Footer" />
    </body>
</html>
