<html>
    <head>
        <style rel="stylesheet" href="~/wwwroot/lib/tailwindcss/"></style>
    </head>
    <body>
        <header>
            <partial name="_Navbar" />
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            <partial name="_Footer" />
        </footer>
    </body>
</html>